/*
*
*
* CSS Reset
*
*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*
*
* General Rules
*
*/

section {
	min-height: 100vh;

}

/*
*
* Sections
*
*/

section#bio {
	background-color: #6227ae;
	background-image: url('../img/pattern2.png');
	background-size: 
	position: relative;
}

section#bio > div {
	background-color: rgb(98, 39, 174, 0.5);
	width: 100%;
	height: 100vh;

}

section#bio, 
section#bio a {
	color: #fff;
}


section#bio > div > header > p  {
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

section#bio > div > header > p > a {
	text-decoration: none;
}
section#bio > div > header > p > a:hover {
	text-decoration: underline;
	color: red;
}

section#bio > div > header {
	position: relative;
}

section#bio > div > header > p:last-child {
	position: absolute;
	right: 0;
	top: 0;
}

section#bio > div > div#details > img {
	border-radius: 50%;
	width: 200px;
	border: 5px solid white;
	padding: 4px;
}
section#bio > div > div#details > h1,
section#bio > div > div#details > ul	{
	font-family: 'Noto Serif', serif;
	padding-top: 15px;
	padding-bottom: 15px;	
}

section#bio > div > div#details > h1 {
	font-size: 40px;
}

section#bio > div > div#details > ul	{
	list-style: none;
	font-size: 25px;
}

section#bio > div > div#details > p {
	line-height: 1.5;
}

div#details {
	/*border: 1px solid #fff;*/
	width: 50%;
	text-align: center;
	padding: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}



section#projects {
	background-color: #eaa1c2;
}


section#skillset {
	background-color: #747474;
}

section#contact {
	background-color: #ea125e;
	position: relative;
}

section#projects > h2,
section#skillset > h2,
section#contact > h2{
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

body {
	/*background-color: red;*/
	font-family: 'Hind Siliguri', sans-serif;
	
}

/*
*
* Footer
*
*/

footer {
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #2b0645;
	color: lightgrey;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer a {
	color: lightgrey;
}